@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* .main_container{
  width: 1000px;
  min-width: 850px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
  
} */

.nav_component , .footer_component,.cards,.login_component , .register_component{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-family: "Karla" , sans-serif;
  margin:0 auto;
  width: 900px;
}
.about,.menu_component 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-family: "Karla" , sans-serif;
  margin:0 auto;
  width: 900px;
}
.footer_component{
  padding-top: 10px;
}
.homepage_component , .header_component , .testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-family: "Karla" , sans-serif;
  width: 900px;
  margin: 0 auto;
}
.nav_component ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer_component ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav_component ul li , .footer_component ul li{
  list-style: none;
  padding: 10px;
}
.nav_component ul li a  , .footer_component ul li a{
  text-decoration: none;
  color: black;
  background-color: #F4CE14;
  padding: 8px;
  border-radius: 10px;
}
.nav_component ul li a:hover , .footer_component ul li a:hover , .header_content a:hover , .homepage_component a:hover,
.card_component a:hover , .starter a:hover , .login_content a:hover , .register_content a:hover{
  padding: 10px;
  background-color: #495e57;
  color: white;
}
.footer_component img{
  width: 200px;
  height: auto;
  border-radius: 20px;
}
.header_component img , .starter img{
  width: 240px;
  height:min-content;
  border-radius: 20px;
}
.header_content h1 , .homepage_component h1 , .testimonials h1,.about h1 , .menu_component h1{
  color: #F4CE14;
}
.header_content a , .homepage_component a , .card_component a , .starter a , .login_form button , .register_form button,
.register_content input[type="submit"]{
  background-color: #F4CE14;
  padding: 10px;
  border-radius: 20px;
  font-size: small;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.card_component , .testimonial_component, .starter{
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  padding: 10px;
  margin: 10px;
  max-width: 250px;
  max-height: none;
  text-align: center;
  display: inline-block;
}
.card_component img{
  width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}
.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about img{
  width: 900px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
}
.login_content , .register_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login_form , .register_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login_content a , .register_content a{
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: #F4CE14;
  border-radius: 20px;
  font-weight: 700;
}






